package com.company;

public class Main {

    public static void main(String[] args) {
        int sum = q(25, 5);
        System.out.println("a + b = " + sum);
        int sub = w(25, 5);
        System.out.println("a - b = " + sub);
        int div = e(25, 5);
        System.out.println("a / b = " + div);
        int mul = r(25, 5);
        System.out.println("a * b = " + mul);
    }

    public static int q(int a, int b) {
        int result = 0;
        result = a + b;
        return result;
    }

    public static int w(int a, int b) {
        int result = 0;
        result = a - b;
        return result;
    }

    public static int e(int a, int b) {
        int result = 0;
        result = a / b;
        return result;

    }

    public static int r(int a, int b) {
        int result = 0;
        result = a * b;
        return result;
    }
}
